@media screen and (max-width: 760px){
    * {
        box-sizing: border-box;
        margin: 0;
      }
    border{ 
        margin: 0;
        max-height: 100vh;

    }
    header{
        flex-direction: column;
    }

    main{
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
        padding: 0;
        border-radius: 0px;
        margin: 0;
    }


    .logo {
        display: none; /* Esconde a imagem desktop por padr찾o em dispositivos m처veis */
      }
    
      /* Adicione a imagem m처vel e mostre apenas em dispositivos m처veis */
      .logo-mobile {
        display: block;
        width: 100%;
        height: 100%;
      }

      #submit{
        width: 355px; 
        align-items: center;
    }
}